/* reset 변경해도 됩니다. */
@font-face {
    font-family: 'CustomFont';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont';
}

*::before,
*::after {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

html,
body {
    min-width: 1280px;
    min-height: 1024px;
    height: 100%;
    width: 100%;    
}


#container {
    display: flex;
    width: 100%;
}

#header {
    display: flex;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    ;}

.top_header{
    display: flex;
    min-width: 1052px;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
}



.header_menu {
    display:flex;
    align-items:center;
}

.header_menu li button {
    display: flex; /* a 태그를 flex 컨테이너로 설정 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100; /* li의 높이에 맞춤 */
    padding: 24px 20px; /* 좌우 패딩 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
    background-color: white;
    border: none;
    color: gray; /* 기본 텍스트 색상 회색 */
    border-bottom: 2px solid white; /* 클릭한 메뉴의 밑줄 */
    transition: color 0.3s; /* 색상 변화에 애니메이션 추가 */
    /* 16_24/bold */
    font-family: "Noto Sans CJK KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    
}

.header_login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.user_login
{
    color: var(--gray-800, #30323B);

    /* 14_20/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.header_login_date{
    color: var(--gray-500, #737684);
    text-align: center;

    /* 12_16/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.header_login_btn{
    display: flex;
    height: 32px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background-color: white;

    border-radius: 6px;
    border: 1px solid var(--gray-500, #737684);
}

.menu-item.active {
    color: black; /* 선택된 항목의 색상 진한 검은색 */
    border-bottom: 2px solid black; /* 클릭한 메뉴의 밑줄 */
}

.left-panel {
    display: flex;
    width: 228px;
    min-height: 1024px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background: var(--blue-admin_primary, #2D3443);

    
}

.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.menu-list button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    touch-action: none;
}
.header_menu button.is_active {
    background-color: #ddd;
    font-weight: bold;
}

.right-panel {
    flex-grow: 1;
    /* padding: 10px; */
}

.tabs_bar{
    display: flex;
    height: 60px;
    padding: 24px 24px 0px 24px;
    align-items: flex-end;
    align-self: stretch;

    background: var(--gray-100, #E1E3EA);
}

.tabs {
    display: flex;
    align-items: center;
    gap: 1px;

}

.tab {
    display: flex;
    padding: 10px 16px 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px 8px 0px 0px;
    opacity: 0.8;
    background: var(--gray-0, #FFF);
}

.tab.is_active {
    background: white;
    font-weight: bold;
}

.tab .btn_tab_close {
    margin-left: 10px;
    cursor: pointer;
}

.tab-content {
    display: none;
}
.tab-content.is_active {
    display: block;
}

.dragging {
    opacity: 0.5;
    color: red;
}

.right-panel .side-button {
    display:block;
}

.side_menu_dep2 {
    margin:20px 0 0 20px;
}
.side_menu_dep3 {
    margin:20px 0 0 20px;
}
.side_menu_dep4 {
    margin:20px 0 0 20px;
}
.side-button + .side-button {
    margin-top:10px;
}