/* reset 변경해도 됩니다. */
@font-face {
    font-family: 'CustomFont';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont';
}

*::before,
*::after {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body{
    min-width: 1280px;
    min-height: 1024px;
    padding: 20px;
}


#container {
    display: flex;
    width: 100%;
}

#header {
    display:flex;
    align-items:center;
    justify-content:space-between
    ;}
.header_menu {
    display:flex;
    align-items:center;
}
.header_login {
    display:flex;
    align-items:center;
}

.left-panel {
    width: 200px;
}

.left-panel button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    touch-action: none;
}
.left-panel button.is_active {
    background-color: #ddd;
    font-weight: bold;
}

.right-panel {
    flex-grow: 1;
    padding: 10px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    min-height: 40px;
    flex-wrap: nowrap;
}

.tab {
    padding: 10px 15px;
    cursor: grab;
    border: 1px solid #ddd;
    border-bottom: none;
    background: #f9f9f9;
    margin-right: 5px;
    display: flex;
    align-items: center;
    user-select: none;
}
.tab.is_active {
    background: white;
    font-weight: bold;
}
.tab .btn_tab_close {
    margin-left: 10px;
    cursor: pointer;
}

.tab-content {
    display: none;
}
.tab-content.is_active {
    display: block;
}

.dragging {
    opacity: 0.5;
    color: red;
}

.right-panel .side-button {
    display:block;
}

.side_menu_dep2 {
    margin:20px 0 0 20px;
}
.side_menu_dep3 {
    margin:20px 0 0 20px;
}
.side_menu_dep4 {
    margin:20px 0 0 20px;
}
.side-button + .side-button {
    margin-top:10px;
}