.tab_container{
    display: flex;
    padding: 18px 32px 80px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    min-width: 988px;

    background: var(--gray-0, #FFF);
    
}

/* 텝화면 상단 타이틀 */
.screen_title_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.menu_depth{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
}

.menu_depth span{
    color: var(--gray-500, #737684);

    /* 12_16/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.menu_depth .current_scr_depth{
    color: var(--blue-550, #1065D6);

    /* 12_16/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.screen_title_container h2{
    color: var(--gray-900, #101116);

    /* 24_32/bold */
    font-family: "Noto Sans CJK KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

/* 메인컨텐츠 */
.main_contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    width: 100%;
}

.table_container_1{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.data_table_1, .data_table_2{
    width: 100%;
    border-top: 1px solid #1F2128;
        
    color: var(--gray-850, #1F2128);

    /* 14_20/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

}

.data_table_1 th{
    display: flex;
    width: 90px;
    padding: 14px 12px;
    align-items: center;
    gap: 2px;

    border-bottom: 1px solid var(--gray-100, #E1E3EA);
    background: var(--gray-50, #F3F4F7);
    
    color: var(--gray-700, #454855);

    /* 14_20/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.data_table_1 tr{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.table_container_1 td{
    display: flex;
    height: 48px;
    padding: 16px 12px;
    align-items: center;
    flex: 1 0 0;

    border-bottom: 1px solid var(--gray-100, #E1E3EA);
    background: var(--gray-0, #FFF);
}

.table_container_1 td{
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

/* 상세설정 테이블 */
.table_container_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    
}

.middle_title_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.middle_title_container h3{
    color: var(--gray-850, #1F2128);

    /* 18_26/bold */
    font-family: "Noto Sans CJK KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}

.middle_title_container button{
    display: flex;
    height: 28px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    border: 1px solid var(--gray-500, #737684);
}

.middle_title_container button span{
    color: var(--gray-850, #1F2128);

    /* 13_16/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

.middle_title_container button span:nth-child(2){
    display: flex;
    width: 16px;
    height: 16px;
    padding: 2.135px 2.133px 2.131px 2.134px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

/* 상세설정 테이블 영역 */
.table_container_2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
}

/* 상세설정 테이블 */
.data_table_2 tr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 48px;
    
    border-bottom: 1px solid var(--gray-100, #E1E3EA);
}

.data_table_2 th{
    display: flex;
    justify-content: center;
    padding: 16px;
    align-items: center;
}

.data_table_2 td{
    display: flex;
    justify-content: center;
    padding: 16px;
    align-items: center;
}

.data_table_2 tr th:nth-child(1){width:10%}
.data_table_2 tr th:nth-child(2){width:30%}
.data_table_2 tr th:nth-child(3){width:30%}
.data_table_2 tr th:nth-child(4){width:20%}
.data_table_2 tr th:nth-child(5){width:10%}
.data_table_2 tr td:nth-child(1){width:10%}
.data_table_2 tr td:nth-child(2){width:30%}
.data_table_2 tr td:nth-child(3){width:30%}
.data_table_2 tr td:nth-child(4){width:20%}
.data_table_2 tr td:nth-child(5){width:10%}

.data_table_2 thead tr{
    height: 48px;
    text-align: center;
    background: var(--gray-50, #F3F4F7);
}

.input_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.input_container input{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;

    border-radius: 4px;
    border: 1px solid var(--gray-100, #E1E3EA);
}

select{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;

    border-radius: 4px;
    border: 1px solid var(--gray-100, #E1E3EA);
}

/* 상세설정 테이블 하단 버튼 */
.bottom_btn_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.list_btn{
    display: flex;
    height: 36px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    border: 1px solid var(--gray-500, #737684);
    background: var(--gray-0, #FFF);

    color: var(--gray-850, #1F2128);
    text-align: center;

    /* 14_20/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.regist_btn{
    display: flex;
    height: 36px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    border-radius: 6px;
    background: var(--blue-500, #1A71E5);

    color: var(--gray-0, #FFF);
    text-align: center;

    /* 14_20/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

/* 하단 Info 영역 */
.info_container{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    border-radius: 8px;
    background: var(--gray-50, #F3F4F7);

}

.info_title{
    align-self: stretch;
    
    color: var(--gray-700, #454855);

    /* 14_20/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.info_container ul li{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.info_code{
    color: var(--gray-600, #5A5E6C);

    /* 13_16/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
}

.info_text{
    color: var(--gray-500, #737684);

    /* 13_16/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}