.table_container_tpye3{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
}

.middle_title_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.middle_title_container button{
    display: flex;
    height: 28px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid var(--gray-500, #737684);
}

.info_container{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--gray-50, #F3F4F7);
}

.info_container .info-title{
    align-self: stretch;
    color: var(--gray-700, #454855);
    /* 14_20/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.info_container ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.info_container li{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.info_container li .info_code{
    color: var(--gray-600, #5A5E6C);
    /* 13_16/medium */
    font-family: "Noto Sans CJK KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
}

.info_container li .info-text{
    flex: 1 0 0;
    color: var(--gray-500, #737684);
    /* 13_16/regular */
    font-family: "Noto Sans CJK KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}

.table_list thead tr{
    align-items: flex-start;
    align-self: stretch;
    text-align: center;
}

